#nome {
    /* CAIXA */
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
    margin: 0px 10px 10px 10px;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 16px;
    padding-left: 15%;
    border: 2px;
    /* TEXTO */
    font-family: "Quicksand";
    font-weight: bold;
    color: #000000;
    font-size: 16px;
    /* ICONS */
    background-image: url('media/people.png');
    background-position: 20px center;
    background-repeat: no-repeat; 
    background-size: 20px; 
}

#email {
    /* CAIXA */
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
    margin: 0px 10px 10px 10px;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 16px;
    padding-left: 15%;
    border: 2px;
    /* TEXTO */
    font-family: "Quicksand";
    font-weight: bold;
    color: #000000;
    font-size: 16px;
    /* ICONS */
    background-image: url('media/arroba.png');
    background-position: 20px center;
    background-repeat: no-repeat; 
    background-size: 20px; 
}

#phone {
    /* CAIXA */
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
    margin: 0px 10px 10px 10px;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 16px;
    padding-left: 15%;
    border: 2px;
    /* TEXTO */
    font-family: "Quicksand";
    font-weight: bold;
    color: #000000;
    font-size: 16px;
    /* ICONS */
    background-image: url('media/phone.png');
    background-position: 20px center;
    background-repeat: no-repeat; 
    background-size: 25px; 
}

#corem {
    /* CAIXA */
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
    margin: 0px 10px 10px 10px;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 16px;
    padding-left: 15%;
    border: 2px;
    /* TEXTO */
    font-family: "Quicksand";
    font-weight: bold;
    color: #000000;
    font-size: 16px;
    /* ICONS */
    background-image: url('media/listpeople.png');
    background-position: 20px center;
    background-repeat: no-repeat; 
    background-size: 20px; 
}

#estado {
    /* CAIXA */
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
    margin: 0px 10px 10px 10px;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 16px;
    padding-left: 15%;
    border: 2px;
    /* TEXTO */
    font-family: "Quicksand";
    font-weight: bold;
    color: #000000;
    font-size: 16px;
    /* ICONS */
    background-image: url('media/local.png');
    background-position: 20px center;
    background-repeat: no-repeat; 
    background-size: 20px; 
}

#senha {
    /* CAIXA */
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
    margin: 0px 10px 10px 10px;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 16px;
    padding-left: 15%;
    border: 2px;
    /* TEXTO */
    font-family: "Quicksand";
    font-weight: bold;
    color: #000000;
    font-size: 16px;
    /* ICONS */
    background-image: url('media/password.png');
    background-position: 20px center;
    background-repeat: no-repeat; 
    background-size: 20px; 
}

#camera {
    width: 40px;
}

.seta {
    position: fixed;
    width: 15%;
    bottom: 3%
}